<html>
	<head>
		<title>urbinsight</title>

		<style>

#map {
	position:absolute; 
	margin: 100px;
	top: 50px; 
	bottom:0; 
	width:80%;
	height: 800px;
}


		</style>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>

		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link href="stylesheets/style.css" rel="stylesheet"/>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
		
	</head>

	<body>
	
		<h1>urbinsight</h1>
			<button id="vancouver_btn" class="btn btn-default">Vancouver</button>
			<button class="btn btn-primary">Medellin</button>
		
			<div id='map'></div>


	</body>
	

<script>


L.mapbox.accessToken = 'pk.eyJ1IjoibHVjeXEiLCJhIjoiZUlJaWtQRSJ9.CwFNvX2smJ4mav7RmlqwZw';
var map = L.mapbox.map('map', 'examples.map-i86nkdio', {
	// minZoom: 10,
	// // maxZoom: 
}).setView([49.2496600, -123.1193400], 9);

var info = map.getTileJSON();

console.log("Map info: " + info);

$('#vancouver_btn').click(function(){
	$.get('/data/infoByLabel', function (data, status) {
		_.each(data, function(location){
			var lat = parseFloat(location.lat);
			var lng = parseFloat(location.lng);
			L.marker([lat, lng]).addTo(map).on('click', function() {
//				alert(e.id);
				var query_string = '/data/relationships?node_index=' + location.id;

				$.get(query_string, function(rel_data, status) {
					for (var i = 0; i < rel_data.length; i++) {
						// start
						var start_coords = [];
						debugger
						var q_s = '/data/infoByNode/?node_index=' + rel_data[i].start;
						$.get(q_s, function(node_data) {
							var lat = node_data.lat;
							var lng = node_data.lng;
							start_coords = [lat,lng];
						});

						var end_coords = [];
						q_s = '/data/infoByNode/?node_index=' + rel_data[i].end;
						$.get(q_s, function(node_data) {
							var lat = node_data.lat;
							var lng = node_data.lng;
							end_coords = [lat,lng];
						});


						var latlngs = [start_coords, end_coords];
						var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
					}
				});


			});
		});
	});
});


// L.marker([51.5, -0.09]).addTo(map)
//     .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
//     .openPopup();
</script>


</html>