<html>
	<head>
		<title>urbinsight</title>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>

		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link href="stylesheets/style.css" rel="stylesheet"/>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
		
	</head>

	<body>
		<div>
	
		<h1>urbinsight</h1>
			<button id="vancouver_btn" class="btn btn-default">Vancouver</button>
			<button id="dummy_btn" class="btn btn-default">Dummy</button>
		</div>
			<div id='map'></div>


	</body>
	

<script>

L.mapbox.accessToken = 'pk.eyJ1IjoibHVjeXEiLCJhIjoiZUlJaWtQRSJ9.CwFNvX2smJ4mav7RmlqwZw';
var map = L.mapbox.map('map', 'examples.map-i86nkdio', {
	// minZoom: 4,
	// maxZoom: 5
}).setView([49.2496600, -123.1193400], 5);

$('#vancouver_btn').click(function(){

	renderLevel('Upstream', '#7ec9b1');
	renderLevel('Source', '#9c89cc');
	renderLevel('Downstream', '#fa946e');

	// $.get('/data/infoByLabel?label=Upstream', function (data, status) {
	// 	_.each(data, function(location){
	// 		var lat = parseFloat(location.lat);
	// 		var lng = parseFloat(location.lng);
	// 		L.marker([lat, lng], {
	// 			icon: L.mapbox.marker.icon({
	// 				'marker-size': 'small',
	// 				'marker-color':'#7ec9b1'
	// 			})
	// 		}).addTo(map).on('click', function() {
	// 			renderLine(lat, lng);
				
	// 		});
	// 	});
	// });
});

function renderLevel(label, color) {
		$.get('/data/infoByLabel?label=' + label, function (data, status) {
		_.each(data, function(location){
			var lat = parseFloat(location.lat);
			var lng = parseFloat(location.lng);
			L.marker([lat, lng], {
				icon: L.mapbox.marker.icon({
					'marker-size': 'small',
					'marker-color':color
				})
			}).addTo(map).on('click', function() {
				renderLine(lat, lng, location, 'in');
				
			});
		});
	});

}


$('#dummy_btn').click(function(){
	renderLevel('Location', '#67c0b7');



	// $.get('/data/infoByLabel?label=Location', function (data, status) {
	// 	_.each(data, function(location){




	// 		var lat = parseFloat(location.lat);
	// 		var lng = parseFloat(location.lng);
	// 		L.marker([lat, lng], 'red').addTo(map).on('click', function() {
	// 			renderLine(lat, lng, location, 'in');
	// 		});
	// 	});
	// });
});


function renderLine(lat, lng, location, direction) {
	var query_string = '/data/relationships?node_index=' + location.id + '&direction=' + direction;
	$.get(query_string, function(rel_data, status) {
		if(rel_data )
		_.each (rel_data, function(point) {
			var coords = [[lat,lng]];
			var query_2 = '/data/infoByNode/?node_index=' + point.end;
			$.get(query_2, function(node_data) {
				var lat_end = parseFloat(node_data.lat);
				var lng_end = parseFloat(node_data.lng);
				coords.push([lat_end, lng_end]);

				var polyline = L.polyline(coords, {color: 'teal'}).addTo(map);
				renderLine(lat_end, lng_end, location)	
			});
		});
	});
	
}

</script>


</html>