@font-face{
	font-family: titleFont;
	src: url(../fonts/alexindr.ttf);
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url('../images/office.png');*/
  background-color: rgb(100,100,100);
}

/*button {
	width: 100px;
	height: 40px;
	padding: 0;
	margin: 0;
}*/

a {
  color: #00B7FF;
  text-align; center
}


h1 {
	text-align: center;
	font-size: 80px;
	color: rgb(224, 237, 239);
	font-family: titleFont;
}

.main_title {
	color: rgb(100,100,100);
}

.toggle {
	width: 190;
	margin: 0 auto;
	
}

button {
	background-color: rgb(175, 210, 175);
}


#map {

	margin: auto;
	top: 30px;
	bottom: 0;
	right: 0;
	left: 0;
	
	width:80%;
	height: 600px;
}

